.years {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 5px;
    border: 1px solid #000;
    max-width: 100px;
    margin: 5px 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.people_block {

    max-width: 250px;
    .dead {
        color: red;
    }
    .live {
        color: green;
    }

    & p:last-child {
        padding-bottom: 12px;
        border-bottom: 1px solid #000;
    }
}

.most {
        font-size: 38px;
        color: green;
        margin: 7px 0;
        font-weight: 700    ;
}